.filter {
  width: 100%;
}

form.completion {
  width: 100%;
  background-color: @low-sat-blue;
  .rounded-corners();
  display: flex;
  justify-content: flex-start;
  padding-left: 2em;
  position: relative;

  input {
    background: none;
    border: none;
  }

  input[type="submit"] {
    margin-left: auto;
    background-color: @icinga-blue;
    color: @text-color-inverted;
    border: none;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
  }

  .terms label {
    input {
      background: gray;
      color: white;
      .rounded-corners();
      width: auto;
    }

    input:focus {
      background-color: @icinga-blue;
    }
  }

  [id^="suggestions-"] {
    position: absolute;
    top: 100%;

    ul {
      background: white;
      border: @gray-light;
      box-shadow:  0 0 1em 0 rgba(0,0,0,.3);
      margin: 0;

      li {
        list-style-type: none;
        padding: .5em;
      }
    }
  }
}

// Inspired by https://css-tricks.com/auto-growing-inputs-textareas/
form.completion label {

}
