.icinga-form > .schedule-element,
.icinga-form > .schedule-element > fieldset {
  margin-top: 1em;

  > .control-group:first-child {
    margin-top: 0;
  }
}

.icinga-form .schedule-element {
  .control-group > fieldset > .weekly,
  .control-group > .ordinal,
  .control-group > .monthly,
  .control-group > .annually {
    flex: 1 1 auto;
  }
}
