.filter {
  width: 100%;
}

form.completion {
  background: @low-sat-blue;
  .clearfix();
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  .rounded-corners();

  input {
    .appearance(none);
    border: none;
    background: none;
  }

  label input {
    height: 1.75em;
    margin-top: .25em;
  }

  .search-input {
    padding: 0 .5em;
  }

  > label {
    flex: 1 1 auto;
  }

  input[type=submit],
  button[type=submit],
  button:not([type]) {
    float: right;
    background: @icinga-blue;
    color: @text-color-inverted;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
  }

  .terms {
    padding-left: 2em;
    background-image: url("../img/icons/search_icinga_blue.png");
    background-repeat: no-repeat;
    background-position: .5em center;

    > label {
      width: auto;
      position: relative;
      margin-right: .125em;

      input {
        background-color: @gray;
        .rounded-corners();
        color: @text-color-inverted;
        position: absolute;
        top: .25em;
        right: 0;
        bottom: 0; left: 0;
        text-align: center;

        &:invalid {
          background-color: @color-critical-handled;
        }
      }
    }
  }

  .suggestions {
    z-index: 1; // Required so that nothing else can overlap it (such as opaque elements)
    position: absolute;
    top: 100%;
    min-width: 12em;
    background: @text-color-inverted;
    border: 1px solid @gray-light;
    border-bottom-right-radius: .5em;
    border-bottom-left-radius:  .5em;

    &:empty {
      display: none;
    }

    > ul {
      padding: .5em 0;
      margin: 0;
      list-style-type: none;
    }

    input {
      padding: .75em .5em;
      display: block;
      width: 100%;
      text-align: left;
    }

    input:focus {
      background: @icinga-blue;
      color: @text-color-inverted;
      outline: none;
    }

    input:not(:focus):hover {
      background: fade(@icinga-blue, 30%)
    }
  }
}

// Inspired by https://css-tricks.com/auto-growing-inputs-textareas/
form.completion label {
  display: inline-flex;
  flex-direction: column;
  flex-width: none;
  position: relative;

  input {
    flex: 1 1 auto;
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: none;

    & + span {
      position: absolute;
      top: 100%
    }
  }

  // determines the width of the pill
  &::after {
    height: 0;
    content: attr(data-label);
    visibility: hidden;
    white-space: pre-wrap;
    padding: 0 .5em;
  }
}
