// Schedule form element

.schedule-element {

  fieldset[name="schedule-element[weekly-fields]"] {
    display: flex;
  }

  .ordinal {
    display: flex;
    flex-wrap: wrap;

    .radio-label {
      flex: 1 1 auto;
    }

    select {
      flex: 1 1 auto;

      &:first-of-type {
        margin-right: 1em;
      }
    }
  }

  .radio-label {
    width: 100%;
    margin-bottom: .5em;
    display: flex;
    align-items: center; // To center the radio element on safari
  }

  .number-specifier > input[type="number"] {
    width: 5em;
    margin: 0 1em;
  }

  .monthly, .annually, .ordinal {
    padding: .4em;
    border: .1em solid @schedule-element-fields-border-color;
    .rounded-corners(.6em);

    li {
      margin-bottom: 1px;
    }
  }

  .schedule-element-fields {
    margin: 0;
    padding: 0;

    &.disabled { // When the "On the" radio button is checked
      pointer-events: none;

      label {
        color: inherit;
        background-color: @schedule-element-fields-disabled-bg;
      }
    }

    li {
      list-style: none;
      display: inline-flex;
      width: calc(100% / 7);

      label {
        width: 100%;
        cursor: pointer;
        text-align: center;
        padding: .8em 0 .8em;
        border-right: .1em solid @schedule-element-fields-border-color;
        background: @schedule-element-fields-bg;
        color: @schedule-element-text-color;

        &:hover {
          background-color: @schedule-element-fields-hover-bg;
        }
      }

      input[type="radio"]:focus + label,
      input[type="checkbox"]:focus + label {
        background-color: @schedule-element-fields-hover-bg;
        color: @schedule-element-text-color;
      }

      input:checked:is(:focus) + label {
        background-color: @schedule-element-fields-focus-bg;
        border-color: @schedule-element-fields-focus-bg;
      }

      input:checked + label {
        background-color: @schedule-element-fields-selected-bg;
        color: @schedule-element-default-text-color;

        &:hover {
          background-color: @schedule-element-fields-focus-bg;
          border-color: @schedule-element-fields-focus-bg;
        }
      }
    }
  }

  .weekly-fields .schedule-element-fields, .monthly .schedule-element-fields {
    li:nth-child(7n + 1) label, li:first-of-type label {
      border-radius: .4em 0 0 .4em;
    }

    li:nth-child(7n) label, li:last-of-type label {
      border-right: none;
      border-radius: 0 .4em .4em 0;
    }
  }

  .annually .schedule-element-fields {
    li:nth-child(4n + 1) label {
      border-radius: .4em 0 0 .4em;
    }

    li:nth-child(4n) label {
      border-right: none;
      border-radius: 0 .4em .4em 0;
    }
  }

  .annually li {
    width: 25%; // 100% / 4 elements
  }
}
