// Style

.item-list {
  list-style-type: none;
}

// Layout

.item-list {
  margin: 0;
  padding: 0;

  > .empty-state-bar {
    margin: 0 1em;
  }
}

.controls .list-item:not(:last-child) {
  margin-bottom: .5em;
}
